html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
}

#map {
    height: 100%;
}

.site-container {
    height: 100vh;
}

.filter-search-box {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 5;
}

.filter-search-logo,
.filter-search-track-details,
.filter-map-details {
    margin-bottom: 10px;
}

.filter-search-logo img {
    width: 10%;
    padding: 0 0 0 20px;
}

.filter-search-track-details {
    margin-top: 10px;
}

.filter-search-track-details span {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 10px;
    border: none;
    color: #50af47;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.filter-search-track-details span:last-child {
    margin-right: 0;
}

.filter-search-logo h1 {
    display: inline;
    padding: 0 15px;
    margin: 0;
    color: #0c8848;
    background-color: #fff;
    font-family: 'Oxfam-Global-Headline', 'Arial', sans-serif;
}

.filter-social-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    z-index: 5;
    background-color: #fff;
}

.filter-social-icons a {
    color: #0c8848;
    margin-right: 15px;
    text-decoration: none;
}

.fa {
    margin-right: 10px;
}

.filter-links {
    display: inline-block;
}

.filter-social-icons a:last-child {
    margin-right: 0;
}

.filter-social-icons {
    color: #50af47;
    font-weight: bold;
}

.filter-map-buttons {
    position: absolute;
    bottom: 47px;
    right: 0;
    padding: 10px;
    z-index: 5;
}

.filter-map-buttons button {
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
    border: none;
    color: #50af47;
    background-color: #fff;
    font-family: 'Oxfam-Global-Headline', 'Arial', sans-serif;
    font-size: 1em;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.filter-map-buttons button:last-child {
    margin-right: 0;
}

.submit {
    float: right;
    display: block !important;
    margin: 0 0 10px 0 !important;
    color: #0b9cda !important;
    font-size: 2em !important;
    cursor: pointer;
}

.submit:hover {
    color: #fff !important;
    background-color: #0b9cda;
}

.length:hover {
    color: #fff;
    background-color: #50af47;
}

.other-buttons {
    text-align: right;
}

*:focus {
    outline: 0;
}

#map-report div.gmnoprint,
#map-report div.gmnoscreen {
    display: none;      
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #50af47;
    text-align: center;
    width: 100%;
}

img[src="http://maps.gstatic.com/mapfiles/google_white.png"] {
    display: none; 
}

@media screen and (max-width: 850px) {
    body {
        font-size: 0.8em;
    }

    .filter-map-buttons {
        bottom: 38px;
    }

}

@media screen and (max-width: 470px) {

    body {
        font-size: 0.6em;
    }

    .filter-map-buttons {
        bottom: 54px;
    }

    .filter-links {
        display: block;
        padding: 10px 0 0 0;
    }

}